{% extends 'posts/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>
<ul class="collection">
    {% for posts in posts %}
    <li class="collection-item"><a href="/posts/details/{{posts.id}}">  {{posts.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}