<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Django Project Select4</title>
</head>
<body>

    <header class="container center-align">
        <h1>Some Title</h1>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}

        <br>

        <a class="center-align" href="/admin">Admin Login</a>
    </div>

</body>
</html>